profiles {

	standard {

		singularity {
			enabled = true
			autoMounts = true
		}

		process {
			container = '/home/rmadzime/rna_preprocessing/containers/trinity-aligners.sif'

			withName: JELLYFISH {
				cpus = 8
				memory = 50.GB
				}

			withName: INCHWORM {
				cpus = 8
				memory = 50.GB
				}

			withName: CHRYSALIS {
				cpus = 8
				memory = 50.GB
				}

			withName: BUTTERFLY {
				cpus = 8
				memory = 50.GB
				}

			withName: BUILD_INDEX {
				cpus = 8
				memory = 20.GB
				}

			withName: BOWTIE_ALIGN {
				cpus = 8
				memory = 30.GB
				}

			withName: QUANT {
				cpus = 8
				memory = 30.GB
				}

			withName: MATRIX {
				cpus = 8
				memory = 30.GB
				}

			withName: DE_ANALYSIS {
				cpus = 8
				memory = 30.GB
				}
		}

		executor {
			queueSize = 3
		}
	}

	cluster {

		process {
			executor = "pbspro"
			clusterOptions = "-N trinity_gc6 -q serial -P CBBI0999"
			beforeScript = "module load chpc/singularity/3.5.3"
			maxRetries = 2
		}

		process {
			withName: JELLYFISH {
				cpus = 10
				memory = 50.GB
				time = '8h'
			}

			withName: INCHWORM {
				cpus = 10
				memory = 50.GB
				time = '10h'
			}

			withName: CHRYSALIS {
				cpus = 10
				memory = 50.GB
				time = '12h'
			}

			withName: BUTTERFLY {
				cpus = 8
				memory = 30.GB
				time = '15h'
			}

			withName: BUILD_INDEX {
				cpus = 6
				memory = 20.GB
				time = '5h'
			}

			withName: BOWTIE_ALIGN {
				cpus = 8
				memory = 25.GB
				time = '10h'
			}

			withName: QUANT {
				cpus = 8
				memory = 15.GB
				time = '20h'
			}

			withName: MATRIX {
				cpus = 8
				memory = 15.GB
				time = '15h'
			}

			withName: DE_ANALYSIS {
				cpus = 10
				memory = 30.GB
				time = '20h'
			}
		}

		process.container = 'mnt/lustre/users/rmadzime/metagenomics/rna_processing/containers/trinity-aligners.sif'
	
		singularity {
			enabled = true
			autoMounts = true
			cacheDir = 'mnt/lustre/users/rmadzime/.singularity'
		}
	
		executor {
			queueSize = 5
		}
		}
} 
